@page "/404"; 

<div class="container p-4">
    <section class="hero is-medium is-warning">
        <div class="hero-body">
            <FeatherAlertTriangle Color="#000" Size="100" />
            <h1 class="title">Ops, O endereço solicitado não foi encontrado!</h1>
            <p class="subtitle">Por favor, verifique a url requisitada e tenta novamente.</p>
            <NavLink class="button is-medium is-ligt mt-4" href="/" title="Voltar ao início">
                <FeatherHome Size="30" Color="#000"></FeatherHome>
                &nbsp;Início
            </NavLink>
        </div>
    </section>
</div>