@page "/acesso-negado/";

<div class="container">
    <section class="hero is-danger">
        <div class="hero-body">
            <FeatherAlertTriangle Size="50" Color="#404040" />
            <p class="title">Acesso negado!</p>
            <p class="subtitle">Você não tem permissão para acessar essa página.</p>
        </div>
    </section>
</div>