@page "/";
@using Blog.Blazor.Interfaces
@using Blog.Blazor.Models
@using Microsoft.AspNetCore.Authorization

@rendermode InteractiveServer
@inject IPostService PostService;
@inject IAutorService AutorService;
@inject ICategoriaService CategoriaService;

<div class="container p-4">
    <PlaceHolder Visible="posts != null && posts.Any()">
        <Repeater DataSource="@posts.Where(x => x.Ativo == true).OrderByDescending(x => x.Cadastro).GroupBy(x => x.Categoria.Nome)" Context="grupo">
            <ItemTemplate>
                <section class="splide">
                    <h3 class="title">@grupo.Key</h3>
                    <div class="splide__track">
                        <ul class="splide__list">
                            @foreach (var post in grupo)
                            {
                                <li class="splide__slide">
                                    <CardPost Post="post" />
                                </li>
                            }
                        </ul>
                    </div>
                </section>
            </ItemTemplate>
        </Repeater>
    </PlaceHolder>
    <PlaceHolder Visible="!posts.Any()">
        <article class="message is-warning">
            <div class="message-body">
                No momento, não há publicações disponíveis para exibição.
            </div>
        </article>
    </PlaceHolder>
</div>

@inject IJSRuntime JSRuntime

@code {
    private IEnumerable<Post> posts;

    protected override async Task OnInitializedAsync()
    {
        posts = await PostService.BuscarTodos();

        // alimenta autores e categoria
        foreach (var post in posts)
        {
            post.Autor = await AutorService.BuscarPor(post.IdAutor);
            post.Categoria = await CategoriaService.BuscarPor(post.IdCategoria);
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("splideFunctions.initializeSplide", "splide");
        }
    }
}
